.form {
  width: calc(80%);
  margin: 25px auto;
  padding: 15px;
  border: 1px solid rgb(30, 17, 17);
  border-radius: 5px;
}

.block {
  width: calc(70%);
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.title {
  font-size: 20px;
  margin-bottom: 5px;
}

.input {
  padding: 3px 10px;
  background-color: #e3e8f8;
  border: 1px solid rgb(30, 17, 17);
  border-radius: 3px;
  &:focus {
    border: 2px solid rgb(45, 24, 240);
  }
}

.btn {
  padding: 5px 12px;
  border: 1px solid #333;
  border-radius: 3px;
  background-color: rgb(97, 200, 59);
  &:focus {
    background-color: rgb(147, 247, 111);
  }
}
