.btn {
  padding: 5px 12px;
  border: 1px solid #333;
  border-radius: 3px;
  background-color: rgb(30, 51, 236);
}

.btn:focus {
  background-color: rgb(231, 7, 7);
}

.deleteBtn {
  margin-left: 5px;
  background-color: rgb(252, 135, 135);
  color: #fff;
}
