.block {
  display: flex;
  flex-direction: column;
  width: calc(100%);

  margin-bottom: 20px;
}

.title {
  font-size: 20px;
  margin-bottom: 5px;
}

.input {
  width: calc(70%);
  padding: 3px 10px;
  background-color: #e3e8f8;

  border: 1px solid rgb(30, 17, 17);
  border-radius: 3px;
  &:focus {
    border: 1.5px solid rgb(45, 24, 240);
  }
}
